In [1]:
import csv
import sqlite3
import gzip
import json
import numpy as np
import pandas as pd

def db_check(name):
    conn = sqlite3.connect(name)
    c = conn.cursor()

    query = "SELECT name, sql FROM sqlite_master WHERE type='table'"
    c.execute(query)
    result = c.fetchall()

    for table_name, schema in result:
        print("---")
        row_count_query = f"SELECT COUNT(*) FROM {table_name}"
        c.execute(row_count_query)
        row_count = c.fetchone()[0]
        print(f"Table '{table_name}': {row_count} rows")
        print(f"Schema:\n{schema}\n")

    conn.close()

def db_clean(name):
    conn = sqlite3.connect(name)
    c = conn.cursor()
    c.execute("VACUUM")
    conn.close()

In [2]:
db_check('project.db')

---
Table 'Authors': 107372 rows
Schema:
CREATE TABLE Authors (
                                        author_id text NOT NULL PRIMARY KEY,
                                        name text NOT NULL)

---
Table 'Books': 427314 rows
Schema:
CREATE TABLE Books (
                                        book_id text NOT NULL PRIMARY KEY,
                                        title text NOT NULL,
                                        author_id text NOT NULL,
                                        image_url text NOT NULL,
                                        description text NOT NULL,
                                        average_rating real NOT NULL,
                                        FOREIGN KEY (author_id) REFERENCES Authors(author_id))

---
Table 'Reviews': 3374600 rows
Schema:
CREATE TABLE Reviews (review_id text NOT NULL PRIMARY KEY,
                                        review_text text NOT NULL)

---
Table 'Ratings': 3374600 rows
Schema:
CREATE TABLE Ratings (rating_id text NOT NULL PRIMARY KEY,
                                        user_id text NOT NULL,
                                        book_id text NOT NULL,
                                        rating INTEGER NOT NULL,
                                        review_id text,
                                        FOREIGN KEY (user_id) REFERENCES Users(user_id),
                                        FOREIGN KEY (book_id) REFERENCES Books(book_id),
                                        FOREIGN KEY (review_id) REFERENCES Reviews(review_id))

---
Table 'Users': 10000 rows
Schema:
CREATE TABLE "Users" (
                                        user_id text NOT NULL PRIMARY KEY,
                                        id text NOT NULL ,
                                        pw text NOT NULL,
                                        nickname text NOT NULL,
                                        email text NOT NULL,
                                        address text NOT NULL,
                                        address_gu text NOT NULL,
                                        address_dong text NOT NULL,
                                        lat_long text NOT NULL,
                                        lat real NOT NULL,
                                        long real NOT NULL
                                        )

---
Table 'Sharings': 30000 rows
Schema:
CREATE TABLE Sharings (share_id text NOT NULL PRIMARY KEY,
                                        user_id text NOT NULL,
                                        book_id text NOT NULL,
                                        FOREIGN KEY (user_id) REFERENCES Users(user_id),
                                        FOREIGN KEY (book_id) REFERENCES Books(book_id))

In [3]:
import sqlite3
conn = sqlite3.connect('project.db')

cursor = conn.cursor()

alter_query = "ALTER TABLE Users DROP COLUMN address"
cursor.execute(alter_query)

alter_query = "ALTER TABLE Users DROP COLUMN address_gu"
cursor.execute(alter_query)

alter_query = "ALTER TABLE Users DROP COLUMN address_dong"
cursor.execute(alter_query)


conn.commit()

cursor.close()
conn.close()

In [4]:
db_check('project.db')

---
Table 'Authors': 107372 rows
Schema:
CREATE TABLE Authors (
                                        author_id text NOT NULL PRIMARY KEY,
                                        name text NOT NULL)

---
Table 'Books': 427314 rows
Schema:
CREATE TABLE Books (
                                        book_id text NOT NULL PRIMARY KEY,
                                        title text NOT NULL,
                                        author_id text NOT NULL,
                                        image_url text NOT NULL,
                                        description text NOT NULL,
                                        average_rating real NOT NULL,
                                        FOREIGN KEY (author_id) REFERENCES Authors(author_id))

---
Table 'Reviews': 3374600 rows
Schema:
CREATE TABLE Reviews (review_id text NOT NULL PRIMARY KEY,
                                        review_text text NOT NULL)

---
Table 'Ratings': 3374600 rows
Schema:
CREATE TABLE Ratings (rating_id text NOT NULL PRIMARY KEY,
                                        user_id text NOT NULL,
                                        book_id text NOT NULL,
                                        rating INTEGER NOT NULL,
                                        review_id text,
                                        FOREIGN KEY (user_id) REFERENCES Users(user_id),
                                        FOREIGN KEY (book_id) REFERENCES Books(book_id),
                                        FOREIGN KEY (review_id) REFERENCES Reviews(review_id))

---
Table 'Users': 10000 rows
Schema:
CREATE TABLE "Users" (
                                        user_id text NOT NULL PRIMARY KEY,
                                        id text NOT NULL ,
                                        pw text NOT NULL,
                                        nickname text NOT NULL,
                                        email text NOT NULL,
                                        lat_long text NOT NULL,
                                        lat real NOT NULL,
                                        long real NOT NULL
                                        )

---
Table 'Sharings': 30000 rows
Schema:
CREATE TABLE Sharings (share_id text NOT NULL PRIMARY KEY,
                                        user_id text NOT NULL,
                                        book_id text NOT NULL,
                                        FOREIGN KEY (user_id) REFERENCES Users(user_id),
                                        FOREIGN KEY (book_id) REFERENCES Books(book_id))

In [ ]:
import sqlite3

conn = sqlite3.connect("project.db")
cursor = conn.cursor()

cursor.execute("SELECT COUNT(*) FROM Reviews")
total_rows = cursor.fetchone()[0]

start_row = total_rows - 1230000

cursor.execute("DELETE FROM Reviews WHERE rowid > ?", (start_row,))

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect("project.db")
c = conn.cursor()

delete_query = """
DELETE FROM Books
WHERE book_id NOT IN (
    SELECT book_id
    FROM Reviews
)
"""
c.execute(delete_query)

conn.commit()
conn.close()
db_check('project.db')

In [103]:
db_clean('project.db')